html {
    font-family: 'Silkscreen', sans-serif;
}

body {
    margin: 0;
    background-color: #8b6ee6;
    color: whitesmoke;
    min-height: 100vh; /* Asegura que el cuerpo tenga al menos el 100% de la altura visible (viewport height) */
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 30px;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    flex: 1; /* Hace que el contenedor principal ocupe el espacio restante */
}

.form-container {
    background-color: #18181b;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    color: whitesmoke;
    padding-bottom: 20px;
}

.bloque-izquierda {
    float: left;
    width: 48%;
}

.bloque-derecha {
    float: right;
    width: 48%;
}

.form-container label {
    display: block;
    margin: 0.5rem 0 0.5rem;
}

.form-container input {
    font-family: 'Silkscreen', sans-serif;
    color: black;
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 0.25rem;
    background-color: #c2aeff;
    font-size: larger;
}
.form-container #boton {
    margin-top: 15px;
}

.form-container select {
    font-family: 'Silkscreen', sans-serif;
    color: black;
    width: calc(100%);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 0.25rem;
    background-color: #c2aeff;
    font-size: larger;
}

.form-container option {
    background-color: #6b5a9e;
}



.form-container input[type="submit"] {
    background-color: #4caf50;
    width: 100%;
    color: white;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.bloque-derecha label .pop {
    color: red;
}
.bloque-izquierda label .pop {
    color: red;
}


.placeholder-color::placeholder {
    color: rgb(70, 68, 68); /* Reemplaza "yourColor" con el código de color deseado */
}


/* FOOTER: */
#footer {
    background-color: #18181b;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Empuja el pie de página hacia la parte inferior del contenedor */
}
