body {
    margin: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(196deg, rgba(2, 0, 36, 1) 0%, rgba(206, 47, 97, 1) 0%, rgba(225, 128, 183, 1) 0%, rgba(239, 185, 208, 1) 49%, rgba(255, 255, 255, 1) 100%);
    font-family: 'Noto Sans', sans-serif;
}

header {
    min-height: 70px;
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

nav a {
    font-weight: 600;
    padding-right: 12px;
}

nav a:hover {
    color: rgb(168, 168, 168);
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}




/* PRODUCTOS */
.libros {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

}

.libros article {
    transition: box-shadow 0.3s ease;
    color: black;
    width: 350px;
    margin: 1rem 0;
    border-radius: 0.3rem;
    padding: 0.25rem 0;
    overflow: hidden;
    border: 1px solid #000;
    background: transparent;
    /* Hacer el fondo transparente */
}



.libros article img {
    max-width: 100%;
    /* Asegura que la imagen no sea más ancha que su contenedor */
    height: auto;
    /* Mantiene la relación de aspecto de la imagen */
}

.libros article h3 {
    margin: 1rem;
}

.libro article,
p {
    margin: 1rem;
    text-align: justify;
}

.libros article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}