@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-display@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-display@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: "Fira Mono";
    background-color: #ddc5c9;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    border: 1px solid black;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
}

.nav__title {
    border: 1px solid red;
    padding: 0;
    font-size: 30px;
}

.nav__links {
    display: flex;
    border: 1px solid black;
}

.nav__link {
    all: unset;
}

.nav__list {
    list-style: none;
}

.search{
    border: 1px solid black;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}


.notes {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Espacio entre los bloques */
}

.notes__note {
    border: 1px solid black;
    flex: 1 1 calc(33.33% - 50px);
    /* Ocupa el 33.33% del ancho menos el gap */
    box-sizing: border-box;
    /* Incluye padding en el cálculo del ancho */
    height: 400px;
}

.note_content {
    padding: 2px;
}

.note__title {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    border-bottom: 1px solid black;
    font-weight: 500;
}