/* dm-serif-display-latin-400-normal */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-display@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-display@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fira-mono-latin-400-normal */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 /* __ ELEMENTOS PRINCIPALES__  */
.nav__title {
    font-family: 'DM Serif Display';
    font-size: 40px;
}

.main_content{
    width: 100%;
    display:flex;
    /* flex-wrap: nowrap; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


/* __SIDEBAR__ */
.aside {
    flex: 20%;
    
}

textarea{
    /* background-color: red; */
    field-sizing: content;
    min-height: 152px;
}


/* __ INICIO PRINCIPAL DE LA PÁGINA __ */
.management__subtitle, .logbook__subtitle, .notes__subtitle {
    font-family: 'DM Serif Display';
    font-size: 30px;
}

.management_paragraph {
    font-family: 'Fira Mono';
    font-size: 22px;
}



/* __ INICIO DE SESIÓN DE USUARIO __ */

.login__label {
    font-size: 24px;
    font-family: 'Fira Mono';
}

.login__submit {
    font-size: 18px;
    /* padding-bottom: 10px; */
    font-family: 'Fira Mono';
    /* text-align: center; */
    /* align-items: center; */

}




/* __ LIBRO DE BITACORA __ */

.logbook{
    flex: 70%;
}

.logbook_date{
    width: 20px;
}





/* __ FOOTER __ */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* __ ELEMENTOS CONSTANTES __  */

a {
    text-decoration: none;
    color: #f7708e;
}

a:hover{
    color: #f192a7;
}



