/* dm-serif-display-latin-400-normal */
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-display@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-display@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fira-mono-latin-400-normal */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 /* __ ELEMENTOS PRINCIPALES__  */
.container .title_header {
    font-family: 'DM Serif Display';
    font-size: 40px;
}


/* __ INICIO PRINCIPAL DE LA PÁGINA __ */
.desctription_start .sub_title {
    font-family: 'DM Serif Display';
    font-size: 30px;
}

.desctription_start .standard_paragraph {
    font-family: 'Fira Mono';
    font-size: 22px;
}



/* __ FOOTER __ */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* __ ELEMENTOS CONSTANTES __  */

a {
    text-decoration: none;
}
