body {
    margin: 0;
    background-color: #f3dbd0;
    font-family: 'Open Sans', sans-serif;
}

header {
    min-height: 70px;
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-admin {
    background-color: rgb(113, 113, 69);
}

a {
    color: whitesmoke;
    text-decoration: none;
}

nav a {
    font-weight: 600;
    padding-right: 12px;
}

nav a:hover {
    color: rgb(168, 168, 168);
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}