body {
    margin: 0;
    background-color: #576e65;
    font-family: 'Inconsolata', monospace;
}

header {
    min-height: 70px;
    display: flex;
    background-color: #2e3b36;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a {
    color: rgb(230, 229, 193);
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-left: 20px;
}

nav a {
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover {
    color: rgb(188, 115, 38);
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}




/* SECTION */

section {
    width: 85%;
    height: auto;
    /* min-height: auto; */
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post h2 {
    color: rgb(40, 37, 37);
}

.post p {
    text-align: justify;
    color: rgb(230, 229, 205);
}

section article {
    padding: 20px;

}

section article:hover {
     background-color: #4a6058;
     border-radius: 5px;
     color: rgb(214, 214, 204);
     
}
section article h2:hover {
    color: rgb(16, 16, 16)
}


.pie {
    background-color: #2b3b35;
    color: rgb(230, 229, 193);
    height: auto;
    padding: 7px;
    text-align: center;
}




/* INICIO DE SESION */
/* Estilos generales */
.container-inicio {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    background-image: linear-gradient(to bottom, #ddaaea, #d6a9e2, #cfa8d9, #c9a7d1, #c2a6c9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.container-inicio h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form {
    padding: 20px;
    width: 50%;
}

/* Estilos del formulario */
label {
    font-weight: bold;
    color: #444;
}
 #submit {
    text-decoration: none;
    margin-top: 10px;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    background-color: #3a4f47;
    color: #e6e5c1;
 }
 
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 240px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}


/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .container-inicio {
        flex-direction: column;
        text-align: center;
    }
    .form {
        width: 80%;
    }
}
